<div class="crystals-stack crystals-stack-0" data-energy="0">
  <div class="cards"></div>
  <div class="label unscaled">0pt</div>
  <div class="card-count unscaled">{{crystals0}}x</div>
</div>
<div class="crystals-stack crystals-stack-1" data-energy="1">
  <div class="cards"></div>
  <div class="label unscaled">1pt</div>
  <div class="card-count unscaled">{{crystals1}}x</div>
</div>
<div class="crystals-stack crystals-stack-2" data-energy="2">
  <div class="cards"></div>
  <div class="label unscaled">2pt</div>
  <div class="card-count unscaled">{{crystals2}}x</div>
</div>
<div class="crystals-stack crystals-stack-3" data-energy="3">
  <div class="cards"></div>
  <div class="label unscaled">3pt</div>
  <div class="card-count unscaled">{{crystals3}}x</div>
</div>
<div class="crystals-stack crystals-stack-4" data-energy="4">
  <div class="cards"></div>
  <div class="label unscaled">4pt</div>
  <div class="card-count unscaled">{{crystals4}}x</div>
</div>
<div class="crystals-stack crystals-stack-5" data-energy="5">
  <div class="cards"></div>
  <div class="label unscaled">5pt</div>
  <div class="card-count unscaled">{{crystals5}}x</div>
</div>
