<div class="crystals-stack crystals-stack-0">
  <div class="label">0pt</div>
  <div class="card-count">{{crystals0}}x</div>
</div>
<div class="crystals-stack crystals-stack-1">
  <div class="label">1pt</div>
  <div class="card-count">{{crystals1}}x</div>
</div>
<div class="crystals-stack crystals-stack-2">
  <div class="label">2pt</div>
  <div class="card-count">{{crystals2}}x</div>
</div>
<div class="crystals-stack crystals-stack-3">
  <div class="label">3pt</div>
  <div class="card-count">{{crystals3}}x</div>
</div>
<div class="crystals-stack crystals-stack-4">
  <div class="label">4pt</div>
  <div class="card-count">{{crystals4}}x</div>
</div>
<div class="crystals-stack crystals-stack-5">
  <div class="label">5pt</div>
  <div class="card-count">{{crystals5}}x</div>
</div>
